---
interface Props {
  title?: string;
  href: string;
}

const { href, title } = Astro.props;
---

<li>
  {
    title && (
      <a href={href} class="title-card">
        {title}
      </a>
    )
  }
  <a href={href} class="link-card">
    <figure>
      <slot />
    </figure>
  </a>
</li>
<style>
  .link-card {
    display: flex;
    text-decoration: none;
    padding: 0;

    &:focus {
      outline: 2px solid rgba(var(--fg-grey-color), 0.1);
      border-radius: 8px;
    }
  }

  .title-card {
    color: rgb(var(--fg-grey-color));
    text-decoration: none;
    display: inline-flex;
    margin-bottom: 1rem;

    &:focus {
      outline: 2px solid rgba(var(--fg-grey-color), 0.1);
      border-radius: 4px;
    }
  }

  figure {
    width: 100%;
    margin: 0;
    min-height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-card);
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
    align-items: flex-end;
  }
</style>
