---
interface Props {
    tags: string[];
}

const { tags } = Astro.props
---
<div class="tag-container">
    {tags.map((item, index) => (
      <span class="tag">
        {item}
      </span>
    ))}
  </div>
</div>



<style>

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & .tag {
    padding: 0.3rem 0.4rem;
    background-color: var(--background-card);
    border-radius: 4px;
    white-space: nowrap;
  }
}
</style>