/* -------------------------------------------------------------------
  1. Variables
------------------------------------------------------------------- */
:root {
  --white: #fff;
  --black: #151515;
  --background: var(--white);
  --background-card: #f8f8f8;
  --background-card-modal: var(--white);
  --text-color: var(--black);
  --fg-grey-color: 80, 78, 78;
  --fg-color: 0, 0, 0;
  --gradient-card: linear-gradient(
    to top,
    rgba(21, 21, 21, 0.15),
    rgb(21 21 21 / 0%)
  );
  --border-color-card: rgba(0, 0, 0, 0.08);

  transition: background-color 0.1s;

  /* Typo */
  font-family: DMSansVariable, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}

html.dark {
  color: #fff;
  --background: var(--black);
  --background-card: #3a3a3a;
  --background-card-modal: #3a3a3a;
  --text-color: #dadada;
  --fg-grey-color: 218, 218, 218;
  --fg-color: 255, 255, 255;
  --gradient-card: linear-gradient(
    to top,
    rgba(21, 21, 21, 0.45),
    rgb(21 21 21 / 0%)
  );
  --border-color-card: rgba(255, 255, 255, 0.2);
}

/* -------------------------------------------------------------------
  2. Font-face and Fonts
------------------------------------------------------------------- */
@font-face {
  font-family: DMSansVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("fonts/DMSans[opsz,wght].woff2") format("woff2");
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: DMSansVariable, sans-serif;
  }
}

/* -------------------------------------------------------------------
    3. Global Styles and Resets
  ------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  font-size: 1rem;
}

html,
body {
  background-color: var(--background);
}

ul {
  margin: 0;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

/* -------------------------------------------------------------------
  4. Text Elements (h1, h2, p, etc.)
------------------------------------------------------------------- */
h1,
h2 {
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: 600;
}

h1 > span {
  font-weight: 400;
}

pre {
  padding: 0.75rem;
  border: 2px solid var(--background-card);
  border-radius: 8px;
  margin-bottom: 0;
  overflow-x: auto;
}

hr {
  border-width: 0px;
  height: 1px;
  background-color: rgba(var(--fg-color), 0.085);
  width: 100%;
  margin: 3rem 0;
}

/* -------------------------------------------------------------------
  5. Images and Media
------------------------------------------------------------------- */
img,
picture {
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: auto;
}

.link-card img {
  height: 100%;
  object-fit: contain;
}

.img-shadow {
  filter: drop-shadow(0px 2px 28px rgba(34, 45, 57, 0.05));
}

.svg-ds {
  --bg: #dadada;
  --primary: var(--text-color);
  --secondary: #727272;
  min-height: 24rem;
  display: block;
  width: 100%;
  height: auto;
}

.dark .svg-ds {
  --bg: #696969;
  --primary: var(--text-color);
  --secondary: var(--text-color);
  color: #fff;
}

.video-goodmed {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: auto;
  background-color: var(--background-card);
  padding: 2rem;
  border-radius: 8px;
  margin: 3rem 0;
}

.video-goodmed video {
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 17rem;
  min-width: 14rem;
}

/* -------------------------------------------------------------------
  6. Layout (Main, Nav, Footer, etc.)
------------------------------------------------------------------- */
main,
nav,
footer {
  margin: auto;
  padding: 1rem;
  max-width: 800px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

nav ul {
  display: flex;
  gap: 0.2rem;
}



footer li {
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & .tag {
    padding: 0.3rem 0.4rem;
    background-color: var(--background-card);
    border-radius: 4px;
    white-space: nowrap;
  }
}

.card-wrapper {
  padding: 2.25rem;
  @media (max-width: 768px) {
    padding: 0;
  }

  img {
    border-radius: 8px;
  }
}

/* -------------------------------------------------------------------
  6. Overide Shiki theme
/* ----------------------------------------------------------------- */

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark);
  background-color: var(--black);
  font-style: var(--shiki-dark-font-style);
  font-weight: var(--shiki-dark-font-weight);
  text-decoration: var(--shiki-dark-text-decoration);
}

html .astro-code,
html .astro-code span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

/* -------------------------------------------------------------------
  7. utils
/* ----------------------------------------------------------------- */

.list-style-active {
  padding-inline-start: 40px;

  & li {
    list-style: initial;
  }
}

.show-mobile {
  display: none;
}

@media (max-width: 590px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }
}

@media (max-width: 768px) {
  .hide-tablet {
    display: none;
  }
}
