/* Animation pour clip-path */
@keyframes animateClipPath {
  0% {
    d: path(
      /* "M50 -10 C30 10, 10 50, 10 80 S40 90, 60 70 C80 50, 90 10, 50 -10 Z" */
      "M408.329-43.587c-70.61.01-141.241-1.071-211.819.276C99.028-41.454 22.164 19.784 4.334 107.508c-19.367 95.227 26.947 182.282 123.347 219.231 38.257 14.665 27.795 24.279 7.018 43.719-27.063 25.287-53.352 51.55-78.613 78.651-74.543 79.957-73.589 197.711 1.441 271.8 74.119 73.176 189.95 76.126 267.196.753 147.823-144.24 293.24-290.963 438.499-437.793 59.32-59.943 72.878-132.79 41.066-210.083C772.136-4.272 708.894-41.73 625.447-43.311c-72.348-1.369-144.738-.276-217.118-.276z"
    );
  }
  50% {
    d: path(
      /* "M50 -15 C20 15, 15 55, 15 85 S45 95, 70 75 C85 55, 95 15, 50 -15 Z" */
      "M213.384 359.526c-16.178 13.632-26.286 22.288-37.492 31.814-33.309 28.329-70.222 38.584-111.627 20.184C23.882 393.567 1.088 362.107.723 317.571c-.797-98.048.14-196.107-.71-294.161C-.147 4.376 6.601-.078 24.443.314c51.553 0 102.207.017 154.206.017 22.456-.645 29.474 14.234 29.474 28.902 0 14.668-.247 39.212-.247 49.04 10.866-16.603 21.981-34.36 36.565-47.913C276.757.348 314.995-8.437 355.889 8.611c41.691 17.39 64.311 50.612 64.642 96.186.713 98.048-.084 196.113.642 294.155.121 17.52-5.97 22.271-22.779 21.979-52.842.185-105.306.185-157.024.185-22.455 0-28.228-8.158-28.228-27.476 0-13.246.242-20.106.242-34.114z"
    );
  }
  100% {
    d: path(
      "M5.876 52.179c-1.147-4.356-2.25-8.745-2.992-13.188-6.2-37.064-5.215-37.947 31.84-37.914 118.935.135 237.875.861 356.787-.558 26.123-.31 30.564 9.075 26.729 31.527-11.847 69.35-47.637 121.66-108.959 155.988-12.519 8.484-24.16 14.848-41.059 22.999 42.346 0 84.741 1.133 127.027-.476 21.157-.802 25.901 5.894 23.84 26.212-10.462 103.152-102.711 185.787-208.89 185.72-106.584-.079-198.286-82.004-209.003-185.444-2.11-20.306 3.1-27.117 24.056-26.38 42.049 1.474 84.184.439 126.281.439C76.676 179.831 26.437 130.013 5.876 52.179z"
    );
  }
}

/* Application de l'animation */
#clipPathPath {
  animation: animateClipPath 8s infinite ease-in-out;
}
